# File Specification: https://gist.github.com/Shadows-of-Fire/88ac714a758636c57a52e32ace5474c1

# FastSuite Configuration

general {
    # A whitelist of recipe types that FastSuite will index and accelerate. Add a recipe type here (e.g. minecraft:smelting) to optimize its lookups.
    # Default: [minecraft:crafting], [minecraft:smelting], [minecraft:blasting], [minecraft:smoking]
    S:"Indexed Recipe Types" <
        minecraft:crafting
        minecraft:smelting
        minecraft:blasting
        minecraft:smoking
     >
}


